<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Log In</h1>
      <form class="form-control" (ngSubmit)="onLoginSubmit()">
        
        <div class="form-group">
          <label for="loginEmail">Email:</label>
          <input type="text" [(ngModel)]="loginEmail" class="form-control" name="loginEmail" required>
        </div>
        
        <div class="form-group">
          <label for="loginPassword">Password:</label>
          <input type="password" [(ngModel)]="loginPassword" class="form-control" name="loginPassword" required>
        </div>
      
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
    <div class="col-md-6">
      <h1>Sign Up</h1>
      <form class="form-control" (ngSubmit)="onSignupSubmit()">
        
        <div class="form-group">
          <label for="signupEmail">Email:</label>
          <input type="text" [(ngModel)]="signupEmail" class="form-control" name="signupEmail" required >
        </div>
        
        <div class="form-group">
          <label for="signupPassword">Password:</label>
          <input type="password" [(ngModel)]="signupPassword" class="form-control" name="signupPassword" required autocomplete="false">
        </div>
        
        <button type="submit" class="btn btn-primary">Sign Up</button>
        
      </form>
    </div>
  </div>
</div>
<button class="btn btn-secondary" (click)="loginWithGoogle()">log in with google</button>