<div class="container">
  <h1>Log In</h1>
  <form class="form-control" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" [(ngModel)]="email" class="form-control" name="email" required>
    </div>
    
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" [(ngModel)]="password" class="form-control" name="password" required>
    </div>
  
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
  <button class="btn btn-secondary" (click)="loginWithGoogle()">log in with google</button>
</div>