<div class="container-fluid h-100">
  <div *ngFor="let user of userData | async" class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="row">
        <img src="{{user.avatarURL}}" width="50px" height="50ox">
      </div>
      <div class="row">
        {{ user.username}}
      </div>
    </div>
  </div>
  <div class="d-block d-md-none row bg-primary">
    mobile cat list
  </div>
  <div class="row">
    <div class="col-md-4 d-none d-md-block bd-sidebar bg-primary">
      desktop cat list
    </div>
    <div class="col-md-8 pl-md-5 bg-success">
      cat detail
    </div>
  </div>
</div>