<div class="container-fluid h-100">
  <div *ngFor="let user of userData | async" class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="row">
        <img src="{{user.avatarURL}}" width="50px" height="50ox">
      </div>
      <div class="row">
        {{ user.username }}
      </div>
      <div class="row">
        Bio: {{ user.bio }}
      </div>
    </div>
  </div>
  <div id="mobile-cat-list" class="d-sm-none row flex-row flex-nowrap bg-primary">
    <a *ngIf="showAddButton" class="col-3">
      <img src="../../assets/add-button.png" alt="" width="50px" height="50px">
    </a>
    <cat-card *ngFor="let cat of cats" [cat]="cat"></cat-card>
  </div>
  <div class="row">
    <div id="desktop-cat-list" class="col-sm-3 d-none d-sm-block bd-sidebar bg-primary">
      <div  *ngIf="showAddButton" class="col">
        <a >
          <img src="../../assets/add-button.png" alt="" width="50px" height="50px">
        </a>
      </div>
      <cat-card *ngFor="let cat of cats" [cat]="cat"></cat-card>
    </div>
    <div class="col-sm-9 pl-md-5 bg-success">
      cat detail
    </div>
  </div>
</div>